@import url("//hello.myfonts.net/count/39c083");
@import url("https://use.typekit.net/vzu6tar.css");

@font-face {
  font-family: 'WindsorD-Bol';
  src: url('../fonts/windsor.eot'); 
  src: url('../fonts/windsor.eot?#iefix') format('embedded-opentype'), url('../fonts/windsor.woff2') format('woff2'), url('../fonts/windsor.woff') format('woff'), url('../fonts/windsor.ttf') format('truetype');
}

* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
html {
  font-size: 18px;
  font-family: filson-pro, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  font-family: sans-serif;
  margin: 0;
}
.slide-title {
  transform: scale(1.5);
}
h1, h2, h3, h4, h5, h6 {
  color: maroon;
  font-family: 'WindsorD-Bol';
}
a, a:link, a:visited {
  color: #333;
}
p > code {
  background-color: #f6f7b4;
  font-weight: bold;
  padding: 1px 3px;
}
h1 strong {
  text-decoration: underline;
}
// .full-screen-slide main {
//   align-items: center;
//   display: flex;
//   height: 100vh;
//   justify-content: center;
//   width: 100vw;
// }
main.app > div {
  padding: 1.5em;
}
section.two-col {
  display: grid;
  grid-template-columns: 1fr  1fr;
}
.demo-button {
  background-color: #333;
  border: none;
  border-radius: 0.5rem;
  color: #999;
  display: inline-block;
  font-size: 2rem;
  margin: 0rem 0 1.5rem;
  padding: 0.25rem 0.5rem;

  &.no-focus {
    outline: none;
  }
}
.modal-curtain {
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
[hidden] {
  display: none;
}
.semantic-layout {
  margin-bottom: 2em;

  & [data-el],
  &[data-el] {
    border: 1px solid rebeccapurple;
    padding: 0.5em;
    position: relative;

    &:before {
      background-color: rebeccapurple;
      color: #fff;
      content: attr(data-el);
      font-weight: bold;
      display: block;
      right: 0;
      line-height: 0.45;
      padding: 0.45em;
      position: absolute;
      top: 0;
    }
  }
  & > div[data-el],
  &[data-el] {
    padding: 1.5em;
  }
}
.grid-wrap-2 {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
textarea {
  height: 200px;
  width: 320px;
}
.a11yDiagram {
  width: 100%;

  & > div {
    align-items: baseline;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    width: 100%;

    figure {
      margin: 0;

      svg {
        max-height: 200px;
        max-width: 200px;
        width: 100%;
      }
      figcaption {
        margin: 0 1em;
      }
    }
  }
  p {
    bottom: -8em;
    font-size: 0.5em;
    
    margin-top: 2em;
    position: absolute;
    width: 100%;
  }
}
.skip-link {
  left: 0;
  position: absolute;
  top: 0;

  li {
    list-style: none;
  }

  a {
    display: block;
    opacity: 0;

    &:focus {
      background-color: black;
      opacity: 1;
    }
  }
}
.visually-hidden { /* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
  position: absolute !important;
  height: 1px; width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

.githubIcon {
  background-image: url(./icons/github.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  display: inline-block;
  height: 1em;
  line-height: 0.75;
  margin-top: 0.2em;
  vertical-align: top;
  width: 1em;
}